@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
:root {
	--heading: #ffffff;
	--input-bg: rgba(240, 240, 240, 0.438);
	--input-border: #252525;
	--font-color: #1f2933;
	--input-color :#070707;
	--button-color : #ffffff;
	--button-border :#3b82f6;
}
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
	color: var(--font-color);
	background-size: cover;
	

}
.container {
	max-width :500px;
	margin : 2rem auto;
	padding: 1rem;
	border-radius: 1rem;
	background-image :linear-gradient(rgb(14, 196, 252), pink);
	background-size: cover;
	box-shadow : 1rem -1rem 5rem rgb(39, 224, 248) ;
	

}
h1 {
	text-align: center;
	margin: 0.5rem auto;
	font-weight: 800;
	font-size: 40px;
	color: var(--heading);
	padding-bottom: 1rem;
}
p {
	text-align: center;
}
input::placeholder {
	color: 
	var(--input-color)
}
input {
	color: var(--input-color);
	display: block;
	font-size: 18px;
	width: 40%;
	height: 10px;
	padding: 1rem;
	margin: 1rem auto;
	border-radius: 50px;
	background-image: linear-gradient(rgb(9, 176, 253), rgb(250, 243, 243));
	
}
input:focus {
	outline: none;
}
.button {
	font-size: 18px;
	display: block;
	width: 20%;
	margin:  auto;
	padding: 6px 15px;
	border-radius: 50px;
	color: var(--button-color);
	background-image: linear-gradient(rgb(192, 192, 192),blue);
	border: 4px solid var(--button-border);
	cursor: pointer;
	text-align: center;
	transition: all 250ms;
}
.button:hover {
	transform: scale(0.99);
}
.button:focus {
	outline: none;
}
#showInfo {
	margin-top: 1rem;
	text-align: center;
}
table {
	margin: 1rem auto;
	table-layout: fixed;
	border-collapse: collapse;
}
table.tb-hide {
	display: none;
}

td {
	width: 50%;
	font-size: 18px;
	text-align: center;
}
th,
td {
	margin: auto;
	padding: 0.5rem 2rem;
	border: 2px solid #4a4d72;
}
.footer{
	margin : auto;
	max-width : 500px;
	background-image :linear-gradient(rgb(14, 196, 252), pink);
	text-align: center;
	box-shadow : -1rem 1rem 5rem rgb(39, 224, 248) ;
	border-radius: 1rem;
}
.footer-links{
	padding:1%;
	padding: 2rem 0;
}
li{
	display:inline;
	padding :1rem;
	
}
img{
	width : 3rem;
	height : 3rem;

}